{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
<div class="filters">
    <div>
        <section class="module module-narrow module-shallow">
            <h2 class="module-heading">
                <i class="fa fa-filter"></i>
                Kokos Tags
            </h2>
            <nav aria-label="Koko" id="level_21">
                <!-- <ul class="list-unstyled nav nav-simple nav-facet"> -->
                <ul>
                    <!-- Das muss ich noch mal ersetzen durch die richtigen Daten -->
                    {% set field = {"deutschland": {"niedersachsen": ["braunschweig"],"sachsen": ["dresden"]},"svergie":
                    {"Dalarna": ["Mora","Åre"],"Gävleborg": ["Gävle"],"Östergötland": ["Vadstena"]}} %}
                    {%- for key, value in field.items() recursive %}
                    {#%- for key, value in field["choise_koko"].items() recursive %#}
                    <details>
                        <summary>
                            <li>
                                <!-- class="nav-item" -->
                                <a class="nav-item" href="?level={{ key }}" title="">
                                    <span class="item-label">{{ key }}</span>
                                    <span class="hidden separator"> - </span>
                                    <span class="item-count badge">7</span>
                        {#{ loop.index-1 }#}
                                </a>
                            </li>
                        </summary>
                        {%- if value is mapping %}
                        <!-- class="list-unstyled nav nav-simple nav-facet" -->
                        <ul>{{ loop(value.items()) }}</ul>
                        {% else %}
                        <!-- class="list-unstyled nav nav-simple nav-facet" -->
                        <ul>
                            {% for v in value %}
                            <li>
                                <a class="nav-item" href="?level{{ v }}">
                                    <span class="item-label">{{ v }}</span>
                                    <span class="hidden separator"> - </span>
                                    <span class="item-count badge">6</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {%- endif %}
                    </details>
                    {%- endfor %}
                </ul>
            </nav>
        </section>
    </div>
</div>
<style>
    summary {
        position: relative;
        list-style: circle;
    }
    details {
        color:#A5B65A;
    }
    details[open]{
        color:#489CD4;
    }
    /* .nav-item{
        display: block;
        padding: 10px 0px;
    } */

</style>