{% import 'macros/form.html' as form %}

{% with
name=field.field_name,
id='field-' + field.field_name,
label=h.scheming_language_text(field.label),
placeholder=h.scheming_language_text(field.form_placeholder),
value=data[field.field_name],
error=errors[field.field_name],
classes=field.classes if 'classes' in field else ['control-medium'],
is_required=h.scheming_field_required(field)
%}

{% call form.input_block(id, label, error, classes, is_required=is_required) %}
<div class="controls" id="selections">
    <select data-level="0" class="col form-control" form="dataset-edit" name="level0" onchange="updateSelection(this);">
        <option value="">Wähle aus!</option>
        {%- for key, values in field["choise_koko"].items() -%}
        <option value={{key}}>{{key}}</option>
        {%- endfor -%}
        {{ value | empty_and_escape }}
    </select>
</div>
<!-- Hier kommt nur noch der Infoblock hin! -->
{%- snippet 'scheming/form_snippets/help_text.html', field=field -%}

{% endcall %}
{% endwith %}

<script>
    var choices = {{ field["choise_koko"]| tojson | safe}};

    function updateSelection(item) {
        var selections = document.getElementById("selections");
        var level = Number(item.getAttribute("data-level"))

        for (children of [...selections.children]) {
            if (Number(children.getAttribute("data-level")) > level) {
                selections.removeChild(children);
            }
        }
        // the data is requested here
        if (item.value != "") {
            var data = choices;
            for (let i = 0; i <= level; i++) {
                elem = document.querySelector(`[data-level='${String(i)}']`);
                data = data[elem.value];
            }
            if (data === undefined) {
                return;
            }

            // the new blocks is created 
            newSelect = document.createElement("select");
            newSelect.setAttribute("data-level", String(level + 1))
            // I have added the next line!
            newSelect.setAttribute("class", "col form-control")
            newSelect.setAttribute("onchange", "updateSelection(this);")
            newSelect.setAttribute("form", "dataset-edit")
            //newSelect.setAttribute("name", "level");
            newSelect.setAttribute("name",  "level" + String(level + 1));

            newOption = document.createElement("option");
            newOption.innerHTML = "Wähle aus!";
            newOption.value = "";
            newSelect.appendChild(newOption);

            // depending if it's an array or a list
            if (Array.isArray(data)) {
                for (key of data) {
                    newOption = document.createElement("option");
                    newOption.innerHTML = key;
                    newOption.value = key;
                    newSelect.appendChild(newOption);
                }
            } else if (data.constructor == Object) {
                for ([key, value] of Object.entries(data)) {
                    newOption = document.createElement("option");
                    newOption.innerHTML = key;
                    newOption.value = key;
                    newSelect.appendChild(newOption);
                }
            }
            // something new is added as child
            selections.appendChild(newSelect);
        }
    }
</script>